<div class="gallery-container">
  <h2 class="title">Photo Gallery</h2>

  <!-- Swiper Container -->
  <div class="swiper myGallery">
    <div class="swiper-wrapper">
      <div class="swiper-slide" *ngFor="let image of galleryImages">
        <div class="slide">
          <img [src]="image.url" [alt]="image.caption"  (error)="onImageError($event)" />

          <div class="caption">{{ image.caption }}</div>
        </div>
      </div>
    </div>

    <!-- Pagination & Navigation -->
    <div class="swiper-pagination"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>

  <!-- Thumbnails -->
  <div class="thumbs">
    <div class="thumb" *ngFor="let image of galleryImages" (click)="openModal(previewTemplate, image)">
      <img [src]="image.url" [alt]="image.caption" />
    </div>
  </div>

   <ng-template #previewTemplate>
    <div class="modal-body text-center">
      <img
        *ngIf="selectedImage"
        [src]="selectedImage.url"
        class="img-fluid rounded shadow-lg"
      />
      <p class="mt-2">{{ selectedImage?.caption }}</p>
      <button class="btn btn-outline-dark mt-3" (click)="closeModal()">Close</button>
    </div>
  </ng-template>
</div>
