<div class="gallery-container">
  <h2 class="title">Photo & Video Gallery</h2>

  <div class="main-view" [ngClass]="animationClass">
    <button class="nav-btn prev" (click)="prevMedia()">
      <span>&lt;</span>
    </button>

    <ng-container [ngSwitch]="selectedItem.type">
      <img
        *ngSwitchCase="'image'"
        [src]="selectedItem.url"
        [alt]="selectedItem.caption"
        (error)="onImageError($event)"
      />
      <video
        *ngSwitchCase="'video'"
        #mainVideo
        [src]="selectedItem.url"
        preload="metadata"
        autoplay
        muted
        controls
      ></video>
    </ng-container>

    <button class="nav-btn next" (click)="nextMedia()">
      <span>&gt;</span>
    </button>

    <p class="caption">{{ selectedItem.caption }}</p>
  </div>

  <!-- Thumbnails -->
  <div class="thumbs">
    <div
      class="thumb"
      *ngFor="let item of galleryImages; let i = index"
      (click)="selectMedia(item, i)"
      [class.active]="i === currentIndex"
    >
      <ng-container [ngSwitch]="item.type">
        <img *ngSwitchCase="'image'" [src]="item.url" [alt]="item.caption" />
        <video *ngSwitchCase="'video'" [src]="item.url" muted preload="metadata"></video>
      </ng-container>
    </div>
  </div>
</div>
